@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: black;
  --secondary-color: white;
  --third-color: hsl(0 0% 0%/0.65);
  --fourth-color: hsl(0 0% 0%/0.85);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;
}

/* Main Page mobile*/
/* Main Page Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.6rem;
  /* border: 1px solid blue; */
}

.header-logo-container {
  background: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-container p {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.header-favorites-container p {
  font-size: 1rem;
  font-weight: 500;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  text-align: center;
  padding: 1em 0;
  gap: 1.8em;
}

h1 {
  font-size: 2.4rem;
}

.title-section p {
  color: var(--third-color);
}

.input-container {
  width: 100%;
  position: relative;
}

.input-container input {
  padding: 8px 6% 8px 6%;
  border-radius: 50px;
  border: 2px solid #d9d9d9;
  width: 85%;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #b6b6b6;
  text-align: center;
}

.input-container .icon {
  position: absolute;
  top: 10px;
  left: 10%;
  color: #b6b6b6;
}

/* Categorías */
.categories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  /* border: 2px solid aquamarine; */
  padding: 1em 0;
}

.categories-section h2 {
  font-size: 1.3rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.categorie-btn {
  font-family: "Poppins", sans-serif;
  border: none;
  font-size: 0.92rem;
  font-weight: 600;
  border-radius: 4px;
  padding: 5px 6px;
}

.categorie-btn:focus {
  background: var(--primary-color);
  color: var(--secondary-color);
}

/* img section */
.img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
}

.img-section h2 {
  font-size: 1.25rem;
  align-self: start;
  margin-left: 1em;
}

.img-gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  gap: 6px;
}

.img-container {
  width: 100%;
  min-height: 270px;
  max-height: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Details Page */
/* Details Header */
.details-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.arrow-left-container {
  position: absolute;
  align-self: center;
  font-size: 1.5rem;
  left: 20px;
  display: flex;
}

.details-input-container {
  position: relative;
  display: flex;
}

.details-input-container input {
  padding: 8px 6% 8px 6%;
  border-radius: 50px;
  border: 2px solid #d9d9d9;
}

details-input-container input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #b6b6b6;
  text-align: center;
}

.details-search-icon {
  position: absolute;
  left: 10px;
  top: 8px;
  color: #b6b6b6;
}

.details-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  width: 90%;
  padding: 10% 0;
}

.details-download-button {
  display: flex;
}

/* Details image section */
.details-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-image-container {
  width: 90%;
}

.details-image-container img {
  width: 100%;
}

.details-info-container {
  width: 90%;
}
