@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: linear-gradient(
    89.9deg,
    rgb(102, 64, 123) 0%,
    rgb(252, 41, 119) 100%,
    rgb(251, 168, 214) 100.1%
  );
  --secondary-color: white;
  --third-color: #bebbbb;
  --body-background: white;
  --input-border: 204, 113, 204;
  --user-text: black;
}

[data-theme="dark"] {
  --primary-color: radial-gradient(
    circle at -3.3% 48%,
    rgb(141, 146, 239) 0%,
    rgb(99, 229, 254) 90%
  );
  --body-background: hsl(210deg, 30%, 15%);
  --input-border: 99, 229, 254;
  --user-text: #bebbbb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

html,
body,
#root {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: var(--body-background);
  overflow-x: hidden;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

/* Main Page mobile*/
/* Main Page Header */
.home-page-body {
  min-height: 100%;
  background: var(--body-background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1rem 0.3rem 1rem;
}

.header-logo-container {
  background: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-container p {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.header-favorites-container p {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--primary-color);
  color: transparent;
  font-size: 1rem;
  font-weight: 600;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em 0;
  gap: 1.8em;
}

h1 {
  font-size: 2.8rem;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--primary-color);
  color: transparent;
}

.title-section p {
  color: var(--third-color);
  font-weight: 500;
}

.input-container {
  width: 100%;
  position: relative;
}

.input-container input {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 8px 6% 8px 6%;
  border-radius: 50px;
  border: 2px solid var(--third-color);
  width: 85%;
  color: var(--third-color);
  background: var(--body-background);
  outline: none;
}

.input-container input:focus {
  border: 2px solid rgba(var(--input-border));
  color: rgba(var(--input-border));
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--third-color);
  text-align: center;
}

input:focus::placeholder {
  opacity: 0;
}

.input-container .icon {
  position: absolute;
  top: 14px;
  left: 10%;
  color: var(--third-color);
}

/* Categorías */
.categories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
}

.categories-section h2 {
  font-size: 1.3rem;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--primary-color);
  color: transparent;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.categorie-btn {
  font-family: "Poppins", sans-serif;
  border: 2px solid;
  border-image: var(--primary-color) 1;
  font-size: 0.92rem;
  font-weight: 700;
  border-radius: 4px;
  padding: 5px 6px;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--primary-color);
  color: transparent;
  cursor: pointer;
}

.categorie-btn:focus {
  background: var(--primary-color);
  color: transparent;
  color: var(--secondary-color);
  border: none;
  padding: 6px 10px;
}

/* img section */
.img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
}

.img-section h2 {
  font-size: 1.25rem;
  align-self: start;
  margin-left: 1em;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--primary-color);
  color: transparent;
}

.img-gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  gap: 6px;
}

.img-container {
  width: 100%;
  min-height: 270px;
  max-height: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Skeleton styles*/

/* .skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  
} */

.skeleton-img-container {
  width: 100%;
  min-height: 270px;
  max-height: 100%;
  border-radius: 4px;
  /* background: var(--primary-color); */
  animation: skeleton-loading 0.4s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0;
}

/* Details Page */
/* Details Header */

.details-body {
  min-height: 100%;
  width: 100%;
  background: var(--body-background);
}

.details-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.arrow-left-container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  display: flex;
}

.arrow-left {
  cursor: pointer;
  color: var(--third-color);
  margin-top: 10px;
}

.details-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-title-container h1 {
  font-size: 2.2rem;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--primary-color);
  color: transparent;
  text-align: center;
}

/* details buttons section */

span {
  pointer-events: none;
}

.details-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  gap: 0.5em;
  width: 100%;
  padding: 10% 5% 2% 0;
}

.details-download-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 60%;
}

.details-download-button button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
  background: var(--primary-color);
  border: none;
  border-radius: 4px;
  padding: 0 35px 0 35px;
  height: 35px;
  align-self: flex-end;
  text-align: center;
  cursor: pointer;
}
/* dropdown menu */

.dropdown-menu-container {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  list-style: none;
  position: absolute;
  top: 106%;
  background: white;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(var(--input-border), 0.4),
    -4px -4px 4px rgba(var(--input-border), 0.4);
  transform: translateX(100%);
  transition: all 1s ease-in-out;
  opacity: 0;
}

.active {
  opacity: 1;
  transition: all 1s ease-in-out;
  transform: translateX(0%);
}

.dropdown-menu-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-right: 5px;
}

.details-download-button .details-angle-down {
  color: var(--secondary-color);
  position: absolute;
  font-size: 1.4rem;
  right: 8px;
  top: 6px;
}

li {
  color: black;
  font-weight: 400;
  font-size: 0.9rem;
  width: 100%;
  border-radius: 6px;
  padding: 10px 0px 10px 15px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 5%;
  letter-spacing: -1px;
  gap: 5px;
}

.details-angle-right {
  pointer-events: none;
  display: flex;
  height: 100%;
  font-size: 1rem;
  align-items: center;
  color: black;
}

li:hover {
  background: #ece7e7;
}

/* Details image section */
.details-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}

.details-image-container {
  width: 90%;
  height: 580px;
}

.details-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-user-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 90%;
}

.details-user-container p {
  color: var(--user-text);
}

.user-image-container {
  width: 40px;
  height: 40px;
}

.user-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.details-info-container {
  width: 90%;
}

.details-info-container p {
  color: var(--third-color);
  font-weight: 600;
  font-size: 1.2rem;
}
